h1 {
  color: aquamarine;
  font-style: italic;
  text-align: center;
  /* display:none;  Không chiếm không gian */
}
td {
  /* màu chữ */
  color: blue;
  /* kiểu chữ  */
  font-style: italic;
  /* font chữ */
  font-family: Arial, Helvetica, sans-serif;
  /* căn giữa */
  text-align: center;
  /* cỡ chữ  */
  font-size: 18px;
  /* độ mờ */
  opacity: 100%;
}
body {
  background-image: url(./img/bg.webp);
  visibility: visible; /*Không thể tương tác được*/
}
